@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glowingText {
    color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .feature img {
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: 1px 1px 1px 1px black;
    transition: 0.3s ease-in-out;
  }
  .feature img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .feature p {
    margin-left: 20px;
  }
  .getStartedBtn {

    
    font-size: 20px;
    text-align: center;
    width: 190px;
    height: 60px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    outline: none;
    background: #02302a;
  }