.journalContainer {
    height: 180px;
    width: 10px;
}
.journalEntry {
    
        width: 800px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
        padding: 8px;
        border-radius:8px;
        /* resize: none; */
        margin-bottom: 20px;
        /* overflow-y: auto; */
      
}